# 檔案名稱  .gitignore

# 忽略 Eclipse .settings folder
.settings

# 忽略 Eclipse .classpath file
*.classpath

# 忽略 Eclipse .project file
*.project

# 忽略 Eclipse target folder
target

# 忽略 Eclipse .springBeans folder
.springBeans

# 忽略 EcLipse .dbeaver folder
.dbeaver

